<section class="choose section-offset" id="choose">
  <div class="container">
    <h2 class="choose__title">Choose Your Destination</h2>
    <ul class="choose__list list-reset">
      <li class="choose__item">
        <div class="choose__img-box">
          <img class="choose__img" src="img/choose-1.jpg" alt="Santorini">
        </div>
        <div class="choose__item-inner">
          <div class="choose__item-left">
            <h4 class="choose__item-subtitle">Santorini, Oia Greece</h4>
            <span class="choose__item-price">$2000</span>
            <span class="choose__item-reviews">5k Reviews</span>
          </div>
          <button class="choose__item-btn btn btn-reset">
            <svg class="choose__plus">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="choose__item">
        <div class="choose__img-box">
          <img class="choose__img" src="img/choose-2.jpg" alt="Santorini">
        </div>
        <div class="choose__item-inner">
          <div class="choose__item-left">
            <h4 class="choose__item-subtitle">Santorini, Oia Greece</h4>
            <span class="choose__item-price">$2000</span>
            <span class="choose__item-reviews">5k Reviews</span>
          </div>
          <button class="choose__item-btn btn btn-reset">
            <svg class="choose__plus">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="choose__item">
        <div class="choose__img-box">
          <img class="choose__img" src="img/choose-3.jpg" alt="Santorini">
        </div>
        <div class="choose__item-inner">
          <div class="choose__item-left">
            <h4 class="choose__item-subtitle">Santorini, Oia Greece</h4>
            <span class="choose__item-price">$2000</span>
            <span class="choose__item-reviews">5k Reviews</span>
          </div>
          <button class="choose__item-btn btn btn-reset">
            <svg class="choose__plus">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="choose__item">
        <div class="choose__img-box">
          <img class="choose__img" src="img/choose-3.jpg" alt="Santorini">
        </div>
        <div class="choose__item-inner">
          <div class="choose__item-left">
            <h4 class="choose__item-subtitle">Santorini, Oia Greece</h4>
            <span class="choose__item-price">$2000</span>
            <span class="choose__item-reviews">5k Reviews</span>
          </div>
          <button class="choose__item-btn btn btn-reset">
            <svg class="choose__plus">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="choose__item">
        <div class="choose__img-box">
          <img class="choose__img" src="img/choose-2.jpg" alt="Santorini">
        </div>
        <div class="choose__item-inner">
          <div class="choose__item-left">
            <h4 class="choose__item-subtitle">Santorini, Oia Greece</h4>
            <span class="choose__item-price">$2000</span>
            <span class="choose__item-reviews">5k Reviews</span>
          </div>
          <button class="choose__item-btn btn btn-reset">
            <svg class="choose__plus">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="choose__item">
        <div class="choose__img-box">
          <img class="choose__img" src="img/choose-1.jpg" alt="Santorini">
        </div>
        <div class="choose__item-inner">
          <div class="choose__item-left">
            <h4 class="choose__item-subtitle">Santorini, Oia Greece</h4>
            <span class="choose__item-price">$2000</span>
            <span class="choose__item-reviews">5k Reviews</span>
          </div>
          <button class="choose__item-btn btn btn-reset">
            <svg class="choose__plus">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="choose__item">
        <div class="choose__img-box">
          <img class="choose__img" src="img/choose-1.jpg" alt="Santorini">
        </div>
        <div class="choose__item-inner">
          <div class="choose__item-left">
            <h4 class="choose__item-subtitle">Santorini, Oia Greece</h4>
            <span class="choose__item-price">$2000</span>
            <span class="choose__item-reviews">5k Reviews</span>
          </div>
          <button class="choose__item-btn btn btn-reset">
            <svg class="choose__plus">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="choose__item">
        <div class="choose__img-box">
          <img class="choose__img" src="img/choose-2.jpg" alt="Santorini">
        </div>
        <div class="choose__item-inner">
          <div class="choose__item-left">
            <h4 class="choose__item-subtitle">Santorini, Oia Greece</h4>
            <span class="choose__item-price">$2000</span>
            <span class="choose__item-reviews">5k Reviews</span>
          </div>
          <button class="choose__item-btn btn btn-reset">
            <svg class="choose__plus">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
    <button class="choose__btn btn btn-reset">View All Places</button>
  </div>
</section>
