<section class="destinations section-offset" id="destinations">
  <div class="container">
    <div class="destinations__inner">
      <div class="destinations__info">
        <h2 class="destinations__title">Top <span>Destinations</span> In The World</h2>
        <p class="destinations__descr">
          It is a long established fact that a reader will be the distracted by the readable content of a page when looking at its layout from it.
        </p>
        <button class="destinations__btn btn btn-reset">Discover More</button>
      </div>
      <div class="destinations__img-box">
        <img class="destinations__image" src="img/destinations/cuba.jpg" alt="Cuba City">
        <span class="destinations__img-descr">Cuba City</span>
      </div>
      <div class="destinations__img-box">
        <img class="destinations__image" src="img/destinations/paris.jpg" alt="Paris">
        <span class="destinations__img-descr">Paris</span>
      </div>
      <div class="destinations__img-box">
        <img class="destinations__image" src="img/destinations/japan.jpg" alt="Japan">
        <span class="destinations__img-descr">Japan</span>
      </div>
    </div>
  </div>
</section>
