<section class="details section-offset">
  <div class="container">
    <ul class="list-reset details__list">
      <li class="details__list-item details__list-item--dest">
        <h4 class="details__item-title">Choose Destination</h4>
        <p class="details__item-descr">Lorem Ipsum is simply dummy text of the printing setting</p>
      </li>
      <li class="details__list-item details__list-item--place">
        <h4 class="details__item-title">Explore The Place</h4>
        <p class="details__item-descr">Lorem Ipsum is simply dummy text of the printing setting</p>
      </li>
      <li class="details__list-item details__list-item--start">
        <h4 class="details__item-title">Start Your Journey</h4>
        <p class="details__item-descr">Lorem Ipsum is simply dummy text of the printing setting</p>
      </li>
      <li class="details__list-item details__list-item--enjoy">
        <h4 class="details__item-title">Let’s Enjoy</h4>
        <p class="details__item-descr">Lorem Ipsum is simply dummy text of the printing setting</p>
      </li>
    </ul>
  </div>
</section>
