<header class="header">
  <div class="container-fluid header__container">
    <a href="#" class="logo">
      <img src="img/logo.png" alt="Logo">
    </a>
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#destinations" class="nav__link link">Destination</a>
        </li>
        <li class="nav__item">
          <a href="#offer" class="nav__link link">Offer</a>
        </li>
        <li class="nav__item">
          <a href="#choose" class="nav__link link">Tour</a>
        </li>
        <li class="nav__item">
          <a href="#reviews" class="nav__link link">Blog</a>
        </li>
      </ul>
    </nav>
    <ul class="header-user__list list-reset">
      <li class="header-user__item">
        <a href="#" class="header-user__link link">My Account</a>
      </li>
      <li class="header-user__item">
        <form action="" class="header-user__search-form">
          <svg class="header-user__svg">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
          <input type="text" name="search" class="header-user__search-input input-reset" placeholder="Search...">
          <button type="submit" class="header-user__search-btn btn-reset">
            <svg class="header-user__svg">
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
          </button>
        </form>
      </li>
    </ul>
  </div>
</header>
