<section class="hero section-offset">
  <div class="hero__content">
    <div class="hero__top">
      <div class="swiper hero__slider-items">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide--first">
            <div class="container hero__container">
              <h1 class="hero__title">It’s Time To Explore The World</h1>
              <button class="hero__btn btn-reset btn">Plan Your Trip</button>
            </div>
          </div>
          <div class="swiper-slide swiper-slide--second">
            <div class="container hero__container">
              <h1 class="hero__title">It’s Time To Explore The World</h1>
              <button class="hero__btn btn-reset btn">Plan Your Trip</button>
            </div>
          </div>
          <div class="swiper-slide swiper-slide--third">
            <div class="container hero__container">
              <h1 class="hero__title">It’s Time To Explore The World</h1>
              <button class="hero__btn btn-reset btn">Plan Your Trip</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__bottom">
      <div class="slider-nav">
        <div class="slider-nav__arrows">
          <button class="btn-reset slider-nav__btn slider-nav__btn--prev" aria-label="перейти к предыдущему слайду">
            <svg>
              <use xlink:href="img/sprite.svg#arrow-left"></use>
            </svg>
          </button>
          <button class="btn-reset slider-nav__btn slider-nav__btn--next" aria-label="перейти к следующему слайду">
            <svg>
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
        <span class="slider-nav__line"></span>
        <span class="slider-nav__counter">1</span>
      </div>
      <div class="hero__items">
        <div class="hero-item">
          <form action="#" class="hero-item__form">
            <ul class="hero-item__list list-reset">
              <li class="hero-item__element">
                <label class="hero-item__field">
                  <span class="hero-item__caption">Destinations</span>
                  <select class="hero-item__select">
                    <option value="Arab Egypt" class="hero-item__optinn">Arab Egypt</option>
                    <option value="Arab Egypt" class="hero-item__optinn">United States</option>
                    <option value="Arab Egypt" class="hero-item__optinn">Australia</option>
                  </select>
                </label>
              </li>
              <li class="hero-item__element">
                <label class="hero-item__field">
                  <span class="hero-item__caption">Check In</span>
                  <input type="date" class="hero-item__input-date" value="2015-08-09">
                </label>
              </li>
              <li class="hero-item__element">
                <label class="hero-item__field">
                  <span class="hero-item__caption">Price Range</span>
                  <div class="hero-item__input-box">
                    <input type="text" class="hero-item__input-price" placeholder="$500 - $10,0000">
                  </div>
                </label>
              </li>
            </ul>
            <button class="hero-item__btn btn-reset btn">Discover Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
