<section class="offer section-offset" id="offer">
  <div class="container offer__container">
    <div class="offer__img-box">
      <div class="offer__img-inner">
        <img class="offer__img" src="img/offer.jpg" alt="Beacon">
      </div>
    </div>
    <div class="offer__inner">
      <h2 class="offer__title">We Offering In Total 793 Tours Out The World</h2>
      <div class="tabs" data-tabs="tab">
        <ul class="tabs__nav">
          <div class="tabs__box tabs__box--red">
            <li class="tabs__nav-item">
              <button class="tabs__nav-btn btn-reset" type="button">
                <h2 class="offer__subtitle">Best Travel Guide Always For Your Services</h2>
              </button>
            </li>
            <li class="tabs__panel">
              <p class="offer__descr">
                Travel has helped us to understandsa the meaning of life and it has helped us become better people. Each
                time we travel, we see the world with new eyes. Travel has helped us to understand the meaning of life
              </p>
            </li>
          </div>
          <div class="tabs__box tabs__box--green">
            <li class="tabs__nav-item">
              <button class="tabs__nav-btn btn-reset" type="button">
                <h2 class="offer__subtitle">World Class Services Provide For You</h2>
              </button>
            </li>
            <li class="tabs__panel">
              <p class="offer__descr">
                Travel has helped us to understandsa the meaning of life and it has helped us become better people. Each
                time we travel, we see the world with new eyes. Travel has helped us to understand the meaning of life
              </p>
            </li>
          </div>
          <div class="tabs__box tabs__box--orange">
            <li class="tabs__nav-item">
              <button class="tabs__nav-btn btn-reset" type="button">
                <h2 class="offer__subtitle">24/7 Strong Customer Support</h2>
              </button></li>
            <li class="tabs__panel">
              <p class="offer__descr">
                Travel has helped us to understandsa the meaning of life and it has helped us become better people. Each
                time we travel, we see the world with new eyes. Travel has helped us to understand the meaning of life
              </p>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>
