<section class="reviews section-offset" id="reviews">
  <div class="container">
    <h2 class="reviews__title">What Our Happy Customers Say About Us</h2>
    <div class="swiper reviews__swiper-items">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="reviews__items list-reset">
            <li class="reviews__item">
              <div class="reviews__user">
                <img src="img/reviews-1.jpg" alt="Md Shamim Hossai" class="reviews__img">
                <div class="reviews__about-user">
                  <span class="reviews__name">Md Shamim Hossain</span>
                  <span class="reviews__position">UI/UX Designer</span>
                </div>
              </div>
              <p class="reviews__text">
                Jetrips Hotel is an excellent choice for anybody for considering hosting their events there. Top levela
                facilities and excellent staff make for a brilliantad environment within which to operate. The hotel is
                meticulous in its planning.
              </p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="reviews__items list-reset">
            <li class="reviews__item">
              <div class="reviews__user">
                <img src="img/reviews-1.jpg" alt="Md Shamim Hossai" class="reviews__img">
                <div class="reviews__about-user">
                  <span class="reviews__name">Md Shamim Hossain</span>
                  <span class="reviews__position">UI/UX Designer</span>
                </div>
              </div>
              <p class="reviews__text">
                Jetrips Hotel is an excellent choice for anybody for considering hosting their events there. Top levela
                facilities and excellent staff make for a brilliantad environment within which to operate. The hotel is
                meticulous in its planning.
              </p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="reviews__items list-reset">
            <li class="reviews__item">
              <div class="reviews__user">
                <img src="img/reviews-1.jpg" alt="Md Shamim Hossai" class="reviews__img">
                <div class="reviews__about-user">
                  <span class="reviews__name">Md Shamim Hossain</span>
                  <span class="reviews__position">UI/UX Designer</span>
                </div>
              </div>
              <p class="reviews__text">
                Jetrips Hotel is an excellent choice for anybody for considering hosting their events there. Top levela
                facilities and excellent staff make for a brilliantad environment within which to operate. The hotel is
                meticulous in its planning.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="reviews__pagination"></div>
    </div>
  </div>
</section>
